altair==5.5.*
pandas==2.2.*
plotly==6.0.*
requests==2.32.*
dash==2.18.*
dash-bootstrap-components==1.7.*
dash-vega-components==0.11.*
vegafusion==1.6.9
vegafusion-python-embed==1.6.9
vl-convert-python==1.7.*
gunicorn==22.0.*
altair_tiles==0.4.*
python-dateutil==2.9.0.*
tabulate==0.9.*
ipython==8.32.*
ipykernel==6.29.*
pytest==8.1.* 